<div class="container">
  <h1 class="fw-bolder mb-3 text-center">My lists</h1>
  <% @lists.each do |list| %>
    <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
      <%= link_to list.name, list_path(list), class: "text-decoration-none text-white" %>
    </div>
  <% end %>
</div>
